{%extends 'main.html' %}

{%load static%}

{%block title%}
<title>{{site.name}} - About</title>
{%endblock title%}

{%block content%}

<br /> <br />

<section class="market_area section-padding">
<div class="container">
<div class="row">
<div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
<div class="market-text">
<h2>About {{site.name}} Trading</h2>
<h3>Who We Are And What We Do</h3>
<p>{{site.name}} Trading is a leading crypto currency trading and investing company based in the United States. With a team of experienced traders and analysts, {{site.name}} Trading provides top-quality services to its clients, helping them navigate the ever-changing world of crypto currencies.
{{site.name}} Trading was founded in 2022, at the height of the crypto currency boom. The founders, who had years of experience in traditional finance, saw the potential of crypto currencies and decided to create a company that would help others take advantage of the opportunities in the market.
Since its inception, {{site.name}} Trading has been dedicated to providing its clients with the best possible service. The company has a team of expert traders and analysts who use the latest tools and techniques to identify the best opportunities in the market. They are constantly monitoring the market and providing real-time advice to clients to help them make informed decisions about their investments.
In addition to its trading services, {{site.name}} Trading also offers a range of investment products to its clients. The company has a range of investment portfolios that are carefully designed to match the needs and risk appetite of different investors. Whether you are a beginner looking to dip your toe in the world of crypto currencies, or an experienced investor looking to diversify your portfolio, {{site.name}} Trading has a product that is right for you.
{{site.name}} Trading is committed to helping its clients succeed in the world of crypto currencies. The company offers a range of educational resources, including webinars and tutorials, to help clients understand the market and make informed decisions about their investments.
Overall, {{site.name}} Trading is a trusted partner for anyone looking to trade or invest in crypto currencies. With its team of experienced traders and analysts, and its range of investment products, {{site.name}} Trading is well-positioned to help its clients succeed in the world of crypto currencies. </p>
<p>{{site.name}} is a group of crypto trading enthusiasts with several years of experience in margin trading bitcoin, ethereum and other cryptocurrencies. We specialize in both day trading and swing trading but focus on quick intra-day trades using a small loss - big win strategy. The consistent results we achieve allow us to offer up to 20% monthly interests to our investors while keeping the risk at minimum.</p>
<h3>{{site.name}} Trading Team</h3>
<p>Ultimately, our success starts with our people. Meet the talented and experienced traders dedicated to generating extraordinary profits for our investors. These trading professionals average at least 6 years of industry experience. Their expertise is fundamental to our ability to help our members achieve their financial goals through investing in cryptocurrency trading fund.</p>
<div class="social_profile">
<ul>
<li><a href="#" class="f_facebook"><i class="fa fa-facebook" title="Facebook"></i></a></li>
<li><a href="#" class="f_twitter"><i class="fa fa-twitter" title="Twitter"></i></a></li>
<li><a href="#" class="f_instagram"><i class="fa fa-instagram" title="Instagram"></i></a></li>
</ul>
</div>
</div>
</div>
<div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
<div class="market-img">
<img src="{% static 'assets/img/team.png' %}" class="img-fluid" alt="about" />
</div>
</div>
</div>
</div>
</section>


<script type="fe05b56e98e4d1b623de346f-text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6353e3c7daff0e1306d35c38/1gfvr3h9e';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

{%endblock content%}