{% extends 'main.html' %}

{% load static %}

{% block content %}
   <main class="nk-pages">
    <section class="section section-faq bg-white" id="faq">
     <div class="container">
      <!-- Block @s  -->
      <div class="nk-block block-faq">
       <div class="row">
        <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
         <ul class="nav tab-nav tab-nav-vr tab-nav-bdr mr-lg-3 animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="visibility: visible; animation-delay: 0.3s;">
          <li>
           <a class="active" data-toggle="tab" href="#general-questions">
            <em class="fas fa-caret-right">
            </em>
            General
           </a>
          </li>
          <li>
           <a data-toggle="tab" href="#account-questions">
            <em class="fas fa-caret-right">
            </em>
            Account &amp; Investment
           </a>
          </li>
          <li>
           <a data-toggle="tab" href="#withdrawal-questions">
            <em class="fas fa-caret-right">
            </em>
            Withdrawal
           </a>
          </li>
          <li>
           <a data-toggle="tab" href="#referrals-questions">
            <em class="fas fa-caret-right">
            </em>
            Referral Program
           </a>
          </li>
         </ul>
         <div class="find bg-light mr-lg-3 animated fadeInUp d-none d-md-block" data-animate="fadeInUp" data-delay=".5">
          <h6>
           Can't find an answer?
          </h6>
          <a class="btn btn-warning btn-md" href="/contact">
           Contact Us
          </a>
         </div>
        </div>
        <!-- .col -->
        <div class="col-md-8 col-lg-9">
         <div class="tab-content">
          <div class="tab-pane fade show active" id="general-questions">
           <div class="accordion accordion-faq" id="faq-1">
            <div class="accordion-item animated current fadeInUp" data-animate="fadeInUp" data-delay=".1" style="visibility: visible; animation-delay: 0.1s;">
             <h5 class="accordion-title accordion-title-sm" data-target="#faq-1-1" data-toggle="collapse">
              What is ascentcapitalmgt.co?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse show" data-parent="#faq-1" id="faq-1-1">
              <div class="accordion-content">
               <p>
                ascentcapitalmgt.co is a Switzerland registered company, under the number
                <span class="yellow">
                 CHE-435.408.786
                </span>
                , which offers investment services. The activity of our company is aimed at the cryptocurrency trading and providing investment services worldwide. Any kind of investment activities and fiduciary management services are carried out on legal grounds.
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".2" style="visibility: visible; animation-delay: 0.2s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-1-2" data-toggle="collapse">
              How safe is the investment option provided by ascentcapitalmgt.co?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-1" id="faq-1-2">
              <div class="accordion-content">
               <p>
                ascentcapitalmgt.co is a platform which is risk-free. However, to avoid unforseen loss, the company continuously fills in its contingency fund. In the case of force majeure situations, ascentcapitalmgt.co's investors can expect to receive money back except the profits they received earlier.
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="visibility: visible; animation-delay: 0.3s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-1-3" data-toggle="collapse">
              Who can participate in your program?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-1" id="faq-1-3">
              <div class="accordion-content">
               <p>
                We accept members from all over the world, irrespective of their citizenship. Our services are available to any individual or legal entity in the world.
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="visibility: visible; animation-delay: 0.4s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-1-4" data-toggle="collapse">
              How safe is the company's website?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-1" id="faq-1-4">
              <div class="accordion-content">
               <p>
                We are using the strongest DDoS protection in the industry with 100% up-time guarantee. Transfer information from and to our website is realized and ciphered by SSL Encryption.
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="visibility: visible; animation-delay: 0.5s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-1-5" data-toggle="collapse">
              How long do you plan to offer online investment services?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-1" id="faq-1-5">
              <div class="accordion-content">
               <p>
                We plan to offer our online investment services for as long as our clients are satisfied with our provided investment opportunities. We have designed a perfect financial and advertising strategy that ensures constant progress and growth. Thanks to our market analysts we are able to do so for you and keep our clients satisfied all over the globe.
               </p>
              </div>
             </div>
            </div>
           </div>
          </div>
          <div class="tab-pane fade" id="account-questions">
           <div class="accordion accordion-faq" id="faq-2">
            <div class="accordion-item animated current fadeInUp" data-animate="fadeInUp" data-delay=".1" style="visibility: visible; animation-delay: 0.1s;">
             <h5 class="accordion-title accordion-title-sm" data-target="#faq-2-1" data-toggle="collapse">
              How can I invest with ascentcapitalmgt.co?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse show" data-parent="#faq-2" id="faq-2-1">
              <div class="accordion-content">
               <div class="accordion-content">
                <p>
                 To make an investment you must first become a member of ascentcapitalmgt.co. Once you are
                                            signed up, you can make your first deposit. All deposits must be made through the Members
                                            Area. You can login using the member username and password you receive when signup.
                </p>
               </div>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="visibility: visible; animation-delay: 0.2s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-2-3" data-toggle="collapse">
              Can I have more than one account at ascentcapitalmgt.co?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-2" id="faq-2-3">
              <div class="accordion-content">
               <p>
                No, each member can have only one account. Any attempt of fraud will result in permanent blocking of the account &amp; the funds deposited in the account will be frozen.
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="visibility: visible; animation-delay: 0.4s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-2-5" data-toggle="collapse">
              Which payment method do you accept?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-2" id="faq-2-5">
              <div class="accordion-content">
               <p>
                We accept the following payment methods: Bitcoin, BitcoinCash, Ethereum, Litecoin, Dogecoin and Dash.
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="visibility: visible; animation-delay: 0.5s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-2-6" data-toggle="collapse">
              What is the minimum and maximum amount to deposit?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-2" id="faq-2-6">
              <div class="accordion-content">
               <p>
                The minimum amount per investment is 100 USD and there is no maximum limit.
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="visibility: visible; animation-delay: 0.6s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-2-7" data-toggle="collapse">
              How long will it take to add deposit amount into my account?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-2" id="faq-2-7">
              <div class="accordion-content">
               <p>
                Your deposits will be accepted when the total number of confirmations is 3-10.
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="visibility: visible; animation-delay: 0.7s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-2-8" data-toggle="collapse">
              Can I make multiple deposits?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-2" id="faq-2-8">
              <div class="accordion-content">
               <p>
                Yes you can make multiple deposits at any given time. There is no limit to the amount and the number of transactions you make within our program. You can make a deposit from different and multiple payment processors as well.
               </p>
              </div>
             </div>
            </div>
           </div>
          </div>
          <div class="tab-pane fade" id="withdrawal-questions">
           <div class="accordion accordion-faq" id="faq-3">
            <div class="accordion-item animated current fadeInUp" data-animate="fadeInUp" data-delay=".1" style="visibility: visible; animation-delay: 0.1s;">
             <h5 class="accordion-title accordion-title-sm" data-target="#faq-3-1" data-toggle="collapse">
              How can I withdraw funds?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse show" data-parent="#faq-3" id="faq-3-1">
              <div class="accordion-content">
               <p>
                Just login to your ascentcapitalmgt.co account and request your withdrawal at the Withdraw section.
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".2" style="visibility: visible; animation-delay: 0.2s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-3-2" data-toggle="collapse">
              What is the minimum withdrawal amount?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-3" id="faq-3-2">
              <div class="accordion-content">
               <p>
                There is no Minimum withdrawal amounts
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".2" style="visibility: visible; animation-delay: 0.3s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-3-3" data-toggle="collapse">
              How fast do you process withdrawals?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-3" id="faq-3-3">
              <div class="accordion-content">
               <p>
                All withdrawals worth up to $100 are processed instantly. Otherwise they are approved and paid manually within 24 business hours.
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="visibility: visible; animation-delay: 0.4s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-3-4" data-toggle="collapse">
              Can I withdraw funds using a different payment processor?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-3" id="faq-3-4">
              <div class="accordion-content">
               <p>
                No, you can only request a withdrawal to a payment processor that you have previously deposited from.
               </p>
              </div>
             </div>
            </div>
           </div>
          </div>
          <div class="tab-pane fade" id="referrals-questions">
           <div class="accordion accordion-faq" id="faq-4">
            <div class="accordion-item animated current fadeInUp" data-animate="fadeInUp" data-delay=".1" style="visibility: visible; animation-delay: 0.1s;">
             <h5 class="accordion-title accordion-title-sm" data-target="#faq-4-1" data-toggle="collapse">
              What does affiliate program mean and can anyone benefit from it?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse show" data-parent="#faq-4" id="faq-4-1">
              <div class="accordion-content">
               <p>
                The idea behind our affiliate program is to provide more earning opportunity to members who refer other people to our investment project. Not much work is needed from you; just share your referral link, which is made available in your account, with friends, and you'll earn
                <span class="yellow">
                 10%
                </span>
                from their active deposit. You can even earn more when you apply for a Representative status with our company.
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".2" style="visibility: visible; animation-delay: 0.2s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-4-2" data-toggle="collapse">
              Are active deposits required from me before I can earn affiliate commission?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-4" id="faq-4-2">
              <div class="accordion-content">
               <p>
                No, no active deposit is required to earn commission as an affiliate.
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="visibility: visible; animation-delay: 0.3s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-4-3" data-toggle="collapse">
              What is the difference between a Regional Representative and a Standard affiliate?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-4" id="faq-4-3">
              <div class="accordion-content">
               <p>
                The main difference is that Regional Representatives earn twice as much
                <span class="yellow">
                 (20%)
                </span>
                compared to standard affiliates. Plus, as a Regional Representative, you must have the ability to promote and support our investment project in your region through various means, like online/offline presentations, meetings with clients, a personal blog, etc
               </p>
              </div>
             </div>
            </div>
            <div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="visibility: visible; animation-delay: 0.4s;">
             <h5 class="accordion-title accordion-title-sm collapsed" data-target="#faq-4-4" data-toggle="collapse">
              How do I apply as Regional Representative?
              <span class="accordion-icon">
              </span>
             </h5>
             <div class="collapse" data-parent="#faq-4" id="faq-4-3">
              <div class="accordion-content">
               <p>
                Please send your application to
                <a href="#">
                 info@ascentcapitalmgt.co
                </a>
                explaining how do you plan to promote our trading platform. You will hear back from us as soon as possible.
               </p>
              </div>
             </div>
            </div>
            <!--<div class="accordion-item animated fadeInUp" data-animate="fadeInUp" data-delay=".4" style="visibility: visible; animation-delay: 0.4s;">
                            <h5 class="accordion-title accordion-title-sm collapsed" data-toggle="collapse" data-target="#faq-4-4">How does the Bounty Campaigns work?<span class="accordion-icon"></span></h5>
                            <div id="faq-4-4" class="collapse" data-parent="#faq-4">
                                <div class="accordion-content">
                                    <p>Within the cryptocurrency scene, bounties are a useful tool for interacting with the community. As ascentcapitalmgt.co, we’ve positioned bounty programs as part of our penetration plan.</p>
                                    <p>During the bounty program, users will be provided compensation for a number of tasks spread across marketing, bug reporting or even improving aspects of the project framework.</p>
                                    <p>The reward will be in the form of cryptocurrencies and sometimes hidden gems and presents will be offered. The aim of ascentcapitalmgt.co’s bounties is to incentivize individuals to collaborate while strengthening bonds among platform users with gamification. Available bounty campaigns are always updated on the bounty page.</p>
                                </div>
                            </div>
                        </div>-->
           </div>
          </div>
         </div>
         <div class="find bg-light mr-lg-3 animated fadeInUp d-block d-md-none" data-animate="fadeInUp" data-delay=".5">
          <h6>
           Can't find an answer?
          </h6>
          <a class="btn btn-warning btn-md" href="/contact">
           Contact Us
          </a>
         </div>
        </div>
        <!-- .col -->
       </div>
       <!-- .row -->
      </div>
      <!-- .block @e  -->
     </div>
    </section>
   </main>
   {% endblock content %}