{% extends 'main.html' %}

{% load static %}

        <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
            <!-- Header @s  -->
            <div class="header-main">
                <div class="header-container container">
                    <div class="header-wrap">
                        <!-- Logo @s  -->
                        <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                            <a class="logo-link" href="">
                                <img alt="logo" class="logo-dark" src="{% static 'images/logo.png' %}"
                                    srcset="https://ascentcapitalmgt.co/assets/images/logo.png" />
                                <img alt="logo" class="logo-light" src="{% static 'images/logo-full-white.png' %}"
                                    srcset="https://ascentcapitalmgt.co/assets/images/logo-full-white.png" />
                            </a>
                            <div id="google_translate_element">
                            </div>
                            <script>
                                function googleTranslateElementInit() {

                                    new google.translate.TranslateElement({

                                        pageLanguage: 'en'

                                    }, 'google_translate_element');

                                }
                            </script>
                            <script
                                src="{% static 'translate.google.com/translate_a/elementa0d8a0d8.html?cb=googleTranslateElementInit' %}">
                                </script>
                        </div>
                        <!-- Menu Toogle @s  -->
                        <div class="header-nav-toggle">
                            <a class="navbar-toggle" data-menu-toggle="header-menu" href="#">
                                <div class="toggle-line">
                                    <span>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <!-- Menu @s  -->
                        <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                            <nav class="header-menu" id="header-menu">
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a class="menu-link nav-link" href="">
                                            <i class="fa fa-home">
                                            </i>
                                            <span class="athome">
                                                Home
                                            </span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link nav-link" href="/about">
                                            About
                                            <span class="athome">
                                                Us
                                            </span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link nav-link" href="/terms">
                                            Terms &amp;
                                            <span class="athome">
                                                Conditions
                                            </span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link nav-link" href="/faq">
                                            F
                                            <span class="athome">
                                                requently
                                            </span>
                                            A
                                            <span class="athome">
                                                sked
                                            </span>
                                            Q
                                            <span class="athome">
                                                uestions
                                            </span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link nav-link" href="/partnership">
                                            <i class="fa fa-star">
                                            </i>
                                            Partnership
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link nav-link" href="/contact">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                                <ul class="menu-btns">
                                    <li>
                                        <a class="btn btn-md btn-auto btn-outline btn-grad bgtrans"
                                            data-target="#login-popup" data-toggle="modal" href="#">
                                            <span>
                                                Log in
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn btn-md btn-auto btn-grad" href="/accounts/signup">
                                            <span>
                                                Sign up
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- .header-navbar @e  -->
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <!-- breadcrump begin-->
            <div class="hyip-breadcrump">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-6">
                            <div class="breadcrump-title text-center">
                                <h2>
                                    RULES &amp; REGULATION
                                </h2>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========Faq-Section Starte Here ========-->
            <section class="faq-section padding">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="section-header">
                                <p>
                                    Acceptance of use,Risks, Limited right of use, Maintaining Your Account,
                                    Jurisdiction, Limitation of Liability, If you do not agree to be bound by these
                                    terms and conditions, please close this site immediately
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center justify-content-lg-between">
                        <div class="col-lg-12 col-xl-12">
                            <div class="faq-wrapper style-two">
                                <div class="faq-item">
                                    <h6 class="faq-title">
                                        click me
                                    </h6>
                                    <div class="faq-content">
                                        <p>
                                        <p class="MsoNormal">
                                            The Company,Ascent capital management, (hereinafter referred to as
                                            "The Manager"), on the one hand, and the Founder of Management
                                            (hereinafter referred to as "the Client"), acting solely on his own
                                            and on his own behalf, on the other hand, hereinafter referred to as the
                                            contract collectively, the "Parties" and individually a
                                            "Party", have concluded the Client Agreement of Fund Management
                                            (hereinafter referred to as "the Treaty") as follows:
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            <br />
                                        </p>
                                        <p class="MsoNormal">
                                            <br />
                                        </p>
                                        <p class="MsoNormal">
                                            <br />
                                        </p>
                                        <p class="MsoNormal">
                                        <h2 class="title">
                                            Ascent capital management Withdrawal terms &amp; conditions
                                        </h2>
                                        </p>
                                        <p class="MsoNormal">
                                            <br />
                                        </p>
                                        <p class="MsoNormal">
                                            🦾 instant withdrawals upon request(takes up to 5 mins at max to hit your
                                            wallet).
                                        </p>
                                        <p class="MsoNormal">
                                            🦾 No withdrawal fees or extra charges.
                                        </p>
                                        <p class="MsoNormal">
                                            🦾 All investors must exercise some patience while the investment cycle
                                            expires to request a withdrawal.
                                        </p>
                                        <p class="MsoNormal">
                                            🦾 there is no minimum withdrawal.
                                        </p>
                                        <p class="MsoNormal">
                                            🦾 commission withdrawal; Active with running cycle and withdrawals are
                                            available once the investment cycle expires.
                                        </p>
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <h6 class="faq-title">
                                        click me
                                    </h6>
                                    <div class="faq-content">
                                        <p>
                                        <p class="MsoNormal" style="text-align: center;">
                                            <b>
                                                <font size="5">
                                                    0 1 SUBJECT MATTER OF THE TREATY
                                                </font>
                                            </b>
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            1.1. The Client transfers to the Manager for the term
                                            specified in the Treaty, in trust management, the funds owned by the Client
                                            on
                                            the basis of ownership (hereinafter referred to as "Cash"), and the
                                            Manager undertakes to manage the funds in the Client's interests.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            1.2. Funds in accordance with the Treaty are designed to
                                            invest in marginal financial instruments with variable income. The Manager
                                            provides to the Client provides trustee services to investment and other
                                            asset
                                            management, engaged in trade currency pairs in the Forex market, buying and
                                            selling shares of US issuers and other securities as well as derivatives of
                                            these securities and contracts on stock indices.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            1.3. Beneficiary under the Treaty is the client transfer of
                                            funds in trust does not entail the transfer of ownership of them to the
                                            Manager.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            1.4. Given that the Manager is a public company, it is,
                                            among other things, provides its investment management services to private
                                            non-resident investors from around the world, establishing relationships,
                                            carrying out communication and acting in accordance with the instructions
                                            that
                                            provide the clients themselves through a registered account on the website
                                            of
                                            the Manager, and offers its services in the form of Client Agreement.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            1.5. This Treaty is accepted as a web document, and the
                                            procedure does not require the signature of the Parties. Registering Client
                                            account through the website of the Manager means automatic acceptance by the
                                            Client of all the items of this Treaty, as well as the general terms and
                                            conditions published on the website of the Manager, which are considered an
                                            integral part of the Treaty.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            1.6. The Manager shall provide and ensure the Client access
                                            to the website and other materials necessary for account registration
                                            procedure
                                            on the website of the Manager.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            1.7. The Treaty shall enter into force and become legally
                                            binding on the parties to comply fully with the moment when the Client first
                                            generate a bill through your account and transfer funds to the Manager in
                                            accordance with the terms and conditions contained in the Treaty.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <h6 class="faq-title">
                                        click me
                                    </h6>
                                    <div class="faq-content">
                                        <p>
                                        <p class="MsoNormal" style="text-align: center;">
                                            <b>
                                                <font size="4">
                                                    0 2 FIDUCIARY CHARACTER OF THE TREATY
                                                </font>
                                            </b>
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            2.1. The Manager is obliged to act in good faith and in a
                                            way that is best in the interests of the Client. The Manager has the
                                            exclusive
                                            right to determine what method of money management is the best in terms of
                                            customer interest.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            2.2. The Manager provides the Client with the services
                                            written down below for the strategic distribution of cash (assets). The
                                            Client
                                            may use the services of the Manager in the formation of the investment
                                            portfolio in accordance with the terms and conditions stipulated in the
                                            investment strategies. The Manager is issued and effective from the moment
                                            this
                                            Treaty enters into force. The Manager can manage Client's funds
                                            independently,
                                            as well as through partner brokerage companies around the world.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            2.3. Investment Manager's strategy offers customers a choice
                                            of a wide range of ready-made investment portfolios with different ratios of
                                            profitability and risk. Investment portfolios of high risk, should be
                                            administered using an aggressive "Short" strategy, given the
                                            possibility of short-term growth or reduce the cost of capital. Investment
                                            portfolios with an average level of risk, should be administered by a
                                            moderate
                                            strategy "Medium", given the possibility of mid-term growth or reduce
                                            the cost of capital. Investment portfolios with a low level of risk, should
                                            be
                                            administered by a conservative "Long" strategy, taking into account
                                            the possibility of long-term growth or reduce the cost of capital.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            2.4. The Manager undertakes to start managing the Client's
                                            funds from the moment of the conclusion of the Treaty and every week to
                                            submit
                                            a written report on cash management to the Client on its website.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            2.5. The Manager has the right to use the appropriate
                                            procedures to verify compliance of the documents uploaded by the Client. All
                                            documents uploaded by the Client in the above purposes should be clear and
                                            in
                                            high resolution. The Manager must have a reasonable basis for recognition of
                                            the authenticity of any of the downloaded document, otherwise, validation
                                            may
                                            be overruled by a request for correction of rejected documents by scanning
                                            and
                                            downloading images of higher quality the Client documents.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <h6 class="faq-title">
                                        click me
                                    </h6>
                                    <div class="faq-content">
                                        <p>
                                        <p class="MsoNormal" style="text-align: center;">
                                            <b>
                                                <font size="4">
                                                    0 3 INVESTMENT PORTFOLIOS
                                                </font>
                                            </b>
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            3.1. Investment portfolios divided into three strategic
                                            groups:
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            (1) Portfolios, focused on short-term profit. Duration of
                                            the portfolio of 6 (thirteen) days. In case of positive indicators such
                                            control
                                            portfolio, revenues generated in the management process, according to the
                                            Treaty, calculated daily on the personal account of the Client in a personal
                                            account
                                            on the website of the Manager.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            (2) Portfolios, focused on medium-term profit. Validity of
                                            such portfolio is 21 (twenty one) calendar day. In case of positive
                                            indicators
                                            such control portfolio, revenues generated in the management process,
                                            according
                                            to the Treaty, calculated weekly on the personal account of the Client in a
                                            personal account on the website of the Manager.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            (3) Portfolios, focused on long-term profit. Validity of
                                            such portfolios is 31 (thirty-one) calendar day. In case of positive
                                            indicators
                                            such control portfolio, revenues generated in the management process,
                                            according
                                            to the Treaty, calculated monthly on the personal account of the Client in a
                                            personal account on the website of the Manager.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <h6 class="faq-title">
                                        click me
                                    </h6>
                                    <div class="faq-content">
                                        <p>
                                        <p class="MsoNormal" style="text-align: center;">
                                            <b>
                                                <font size="4">
                                                    0 4 RESPONSIBILITY
                                                </font>
                                            </b>
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            4.1. The Client understands and acknowledges that all
                                            policies of the Manager Investment Management Client is subjected to high
                                            risk
                                            and that this risk can lead to the loss of investment capital and/or yield
                                            and/or tax incentives and/or purchasing power. The Client may also miss
                                            their assets in defending Managing their positions. There can be no
                                            assurance
                                            that any of the asset management strategies of the management will lead to
                                            the
                                            Client profits.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            4.2. The Client agrees to incur any losses or lost profits
                                            from its own funds in accordance with this Treaty.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            4.3. The Client hereby irrevocably releases the Manager, its
                                            directors, employees, officers, independent agents, and representatives from
                                            any
                                            claims or liability for losses, damages, fees, legal fees, costs, and
                                            expenses
                                            that may arise as a result of any action, the services provided or
                                            recommendations issued under this Treaty.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <h6 class="faq-title">
                                        click me
                                    </h6>
                                    <div class="faq-content">
                                        <p>
                                        <p class="MsoNormal" style="text-align: center;">
                                            <b>
                                                <font size="4">
                                                    05 CONFIDENTIALITY
                                                </font>
                                            </b>
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            5.1. Any documentation and information provided by the
                                            Client to the Manager, strictly confidential and shall not be disclosed. If
                                            the
                                            Manager is forced to reveal confidential information to the legal process
                                            the
                                            Manager will make every effort to give written notice to the Client of the
                                            disclosure.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            5.2. The Client undertakes under no circumstances disclose
                                            to a third party and / or use in any way in their own interests or
                                            third-party
                                            interests information that became known to him in connection with the
                                            execution
                                            of this Treaty, so that this information could harm the Manager.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        </p>
                                    </div>
                                </div>
                                <div class="faq-item">
                                    <h6 class="faq-title">
                                        click me
                                    </h6>
                                    <div class="faq-content">
                                        <p>
                                        <p class="MsoNormal" style="text-align: center;">
                                            <b>
                                                <font size="4">
                                                    06 FINAL PROVISIONS
                                                </font>
                                            </b>
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            6.1. All notifications, additions, destination, offers,
                                            acceptances or any other types of information transfer provided for in this
                                            Treaty shall be deemed furnished properly if:
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            (1) Transferred through a personal account of the Client on
                                            the website of the Manager;
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            (2) Sent to a confirmed email address to the other Party;
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            (3) Delivered by the postal service for the physical address
                                            of the other Party.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            6.2. If any provision of this Treaty or its application with
                                            respect to any person or circumstance, invalid or unenforceable, the
                                            remainder
                                            of the treaty or the application of this provision to other persons or
                                            circumstances shall not be affected and shall remain in full force.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            6.3. The validity, interpretation, and performance of this
                                            Treaty shall be subject to submission and construed in accordance with
                                            Taiwan law,
                                            which is the country of registration of the Manager and the country to sign
                                            the
                                            Treaty.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            6.4. Transfer of rights under this Treaty shall be provided
                                            under any circumstances.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            6.5. This Treaty is made in two copies having equal legal
                                            force, one copy for each Party.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            6.6. This Treaty may be executed in writing form, signed by
                                            the Manager and sent to the Client, provided that the Client provides the
                                            exact
                                            postal address. The Client pays all the costs of delivery of the Treaty.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        <p class="MsoNormal">
                                            6.7. Parties fully accept all the terms and conditions of
                                            this Treaty. All verbal agreements are included in this Treaty. None of the
                                            Parties do not advance and does not refer to any statements, except where
                                            noted. This Treaty may not be changed radically unless the Parties agree on
                                            such change in writing.
                                            <o:p>
                                            </o:p>
                                        </p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ========Faq-Section Ends Here ========-->
            <!-- clients-section -->
            <section class="clients-section home-5">
                <div class="auto-container">
                    <div class="clients-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                        <figure class="client-logo">
                            <a href="/">
                                <img alt="" src="{% static 'images/logo.png' %}" />
                            </a>
                        </figure>
                        <figure class="client-logo">
                            <a href="/">
                                <img alt="" src="{% static 'images/logo.png' %}" />
                            </a>
                        </figure>
                        <figure class="client-logo">
                            <a href="/">
                                <img alt="" src="{% static 'images/logo.png' %}" />
                            </a>
                        </figure>
                        <figure class="client-logo">
                            <a href="/">
                                <img alt="" src="{% static 'images/logo.png' %}" />
                            </a>
                        </figure>
                        <figure class="client-logo">
                            <a href="/">
                                <img alt="" src="{% static 'images/logo.png' %}" />
                            </a>
                        </figure>
                    </div>
                </div>
            </section>
            <!-- clients-section end -->
            <!-- main-footer -->
            <footer class="main-footer alternet-5">
                <div class="footer-upper">
                    <div class="auto-container">
                        <div class="upper-inner clearfix">
                            <div class="text pull-left">
                                <h2>
                                    Do you want to learn about us?
                                </h2>
                                <p>
                                    Ascent capital management Company.
                                </p>
                            </div>
                            <div class="btn-box pull-right">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-top">
                    <div class="auto-container">
                        <div class="widget-section">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                    <div class="footer-widget logo-widget">
                                        <figure class="footer-logo">
                                            <a href="/">
                                                <img alt="" src="{% static 'images/logo.png' %}" />
                                            </a>
                                        </figure>
                                        <ul class="info-list clearfix">
                                            <li>
                                                <i class="fas fa-envelope">
                                                </i>
                                                Email
                                                <a href="mailto:info@ascentcapitalmgt.co">
                                                    info@ascentcapitalmgt.co
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </header>
    </div>
</body>

</html>
{% endblock content %}