{% extends 'main.html' %}

{% load static %}

{% block content %}
<p>
 Rebates from Market Makers and Trading Venues
                                            When you buy or sell stocks, ETFs, and options through your brokerage account,
                                            your orders are sent to market makers for execution. To compete with exchanges,
                                            market makers offer rebates to brokerages. Market makers typically offer better
                                            prices than exchanges. Ascent capital management Securities, our clearing broker,
                                            developed a routing system to incentivize the market makers. Ascent capital management
                                            has relationships with to compete for order flow based on the amount of price
                                            improvement obtained. This algorithm, known as the smart order router,
                                            prioritizes sending your order to a market maker that’s likely to give you the
                                            best execution, based on historical performance. Rebates aren’t considered when
                                            your brokerage orders are routed. Similarly, Ascent capital management has
                                            relationships with a number of cryptocurrency trading venues that allow you to
                                            receive competitive prices. Ascent capital management Company receives volume rebates
                                            from trading venues. Rebates aren’t considered when your crypto orders are
                                            routed.
</p>
<!-- .nk-banner -->
<div class="nk-ovm shape-a-sm">
</div>
<!-- .header-banner @e  -->
<main class="nk-pages">
 <section class="section bg-light section-l section-about">
  <div class="container">
   <!-- Block @s  -->
   <div class="nk-block">
    <div class="row gutter-vr-30px align-items-center">
     <div class="col-lg-8">
      <div class="nk-block-text">
       <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">
        Years of Experience
       </h2>
       <p class="animated" data-animate="fadeInUp" data-delay=".2">
        <strong>
         With years of successful
                                        experience
        </strong>
        Ascent capital management has built the safest, most efficient and
                                    convenient online investing platform centered on digital cryptocurrencies trading.
       </p>
       <p class="animated" data-animate="fadeInUp" data-delay=".3">
        We offer superb business
                                    solutions to each of our clients under transparent and completely clear conditions. We
                                    give opportunities and implement them based on our investment program, which takes your
                                    income to a completely new level.
       </p>
      </div>
     </div>
     <div class="col-lg-4">
      <img alt="team" class="round-full" src="{% static 'images/about.png' %}"/>
     </div>
    </div>
   </div>
   <!-- .nk-block @e  -->
   <div class="nk-block nk-block-features mgb-m30">
    <div class="row">
     <div class="col-lg-4">
      <div class="feature card animated" data-animate="fadeInUp" data-delay=".7">
       <div class="feature-icon dot">
        <em class="icon ikon ikon-user">
        </em>
       </div>
       <div class="feature-text">
        <h5 class="title title-sm">
         Professional Management Team
        </h5>
        <p>
         Making money from crypto trading is our speciality and we have a professional team.
                                        We do everything just to give high profit to you.
        </p>
       </div>
      </div>
     </div>
     <div class="col-lg-4">
      <div class="feature card animated" data-animate="fadeInUp" data-delay=".8">
       <div class="feature-icon dot">
        <em class="icon ikon ikon-data-server">
        </em>
       </div>
       <div class="feature-text">
        <h5 class="title title-sm">
         High Level of Security
        </h5>
        <p>
         We use one of the most experienced DDoS protection, with different level of security,
                                        which can guaranteed the well working of our website.
        </p>
       </div>
      </div>
     </div>
     <div class="col-lg-4">
      <div class="feature card animated" data-animate="fadeInUp" data-delay=".9">
       <div class="feature-icon dot">
        <em class="icon ikon ikon-globe">
        </em>
       </div>
       <div class="feature-text">
        <h5 class="title title-sm">
         24/7 Support Service
        </h5>
        <p>
         We provide unbeatable support through ticket system, email and phone to cater your
                                        needs and give a professional, fast and effective response.
        </p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </section>
 <section class="section tc-light bg-theme">
  <div class="container">
   <div class="section-head text-center wide-auto" style=" margin-bottom:30px;">
    <h2 class="title">
     Getting Started
    </h2>
    <p style="color:#bbd1f4;">
     Program participation is available to any individual, who is over 18 years of
                        age. We assure you that you will get exceptional service and customer support. Just follow these
                        four simple steps in order to start!
    </p>
   </div>
   <!-- Block @s  -->
   <div class="nk-block nk-block-features">
    <div class="row align-items-centergutter-vr-60px">
     <div class="col-lg-12">
      <div class="row justify-content-between text-center text-lg-left">
       <div class="col-md-3">
        <div class="feature feature-s7">
         <div class="feature-icon feature-icon-s1">
          <em class="icon icon-md ikon ikon-document">
          </em>
         </div>
         <div class="feature-text">
          <h5 class="title-sm">
           1. Open Account
          </h5>
          <p>
           The process is easy and should not take more than a few minutes. Click on
                                                REGISTER button on the homepage. You will see a simple form where you will
                                                have to fill out all the necessary information
          </p>
         </div>
        </div>
       </div>
       <div class="col-md-3">
        <div class="feature feature-s7">
         <div class="feature-icon feature-icon-s1">
          <em class="icon icon-md ikon ikon-cash">
          </em>
         </div>
         <div class="feature-text">
          <h5 class="title-sm">
           2. Make Investment
          </h5>
          <p>
           Login to your account and go to Deposit Page by clicking on the Make Deposit
                                                button from the left menu. In this section you have to specify the amount
                                                and select the prefered payment method.
          </p>
         </div>
        </div>
       </div>
       <div class="col-md-3">
        <div class="feature feature-s7">
         <div class="feature-icon feature-icon-s1">
          <em class="icon icon-md ikon ikon-bulb">
          </em>
         </div>
         <div class="feature-text">
          <h5 class="title-sm">
           3. Earn Daily Interest
          </h5>
          <p>
           As soon as you’ve made your deposit you will start to accrue according to the
                                                investment plan. Every day your earning will be sent to your account balance
                                                automatically.
          </p>
         </div>
        </div>
       </div>
       <div class="col-md-3">
        <div class="feature feature-s7">
         <div class="feature-icon feature-icon-s1">
          <em class="icon icon-md ikon ikon-safety">
          </em>
         </div>
         <div class="feature-text">
          <h5 class="title-sm">
           4. Make Withdrawal
          </h5>
          <p>
           It doesn’t take more than a few seconds to initiate your withdrawals and have
                                                your earnings paid to you. All your withdrawals will be processed in maximum
                                                24 hours.
          </p>
         </div>
        </div>
       </div>
      </div>
      <br/>
      <div style="text-align: center;">
       <a class="btn btn-grad btn-round btn-lg" href="/accounts/signup">
        Register Account
       </a>
      </div>
     </div>
    </div>
   </div>
   <!-- .block @s
        -->
  </div>
  <div class="bg-image overlay overlay-theme overlay-opacity-95 bg-image-loaded" data-opacity="95" data-overlay="theme" style="background-image: url(_images/bg-a.html);">
   <img alt="background" src="{% static 'images/bg-a.jpg' %}"/>
  </div>
 </section>
 <section class="section section-l section-contact bg-transparent" style="margin-bottom:-120px;">
  <div class="container">
   <div class="section-head text-center wide-auto">
    <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">
     LEGAL INFO
    </h2>
    <p class="animated" data-animate="fadeInUp" data-delay=".2">
     This section of the website serves as the
                            authentic source of information concerning the company's registration details.
    </p>
   </div>
   <div class="nk-block nk-block-document">
    <div class="row justify-content-center">
     <div class="col-lg-10">
      <div class="card card-lg animated" data-animate="fadeInUp" data-delay=".3">
       <div class="row align-items-center">
        <div class="col-md-6">
         <div class="nk-block-img px-4 pb-4 pb-md-0">
          <a href="assets/images/accesscert.jpg" target="_blank">
           <img alt="doc" src="{% static 'images/doc-a.png' %}"/>
          </a>
         </div>
        </div>
        <div class="col-md-6">
         <div class="nk-block-text">
          <h4 class="title title-lg">
           Switzerland. Registered Company
          </h4>
          <p>
           Ascent capital management was established in June 3rd, 2020 and registered in
                                                    Switzerland under no.:
           <strong>
            #CHE-435.408.787
           </strong>
          </p>
          <ul class="btn-grp gutter-30px gutter-vr-20px">
           <li>
            <a class="btn btn-grad" href="assets/images/accesscert.jpg" target="_blank">
             VIEW COMPANY CERTIFICATE
            </a>
           </li>
           <li>
            <a class="btn btn-grad" href="assets/images/insurance.jpg" target="_blank">
             VIEW COMPANY INSURANCE
            </a>
           </li>
           <li>
           </li>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
           <br/>
          </ul>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div>
   </div>
  </div>
 </section>
 <center>
  <section class="section">
   <div class="container">
    <div class="section_header">
     <h2 class="title section_title">
      Our Expert Team
      <span>
       .
      </span>
     </h2>
    </div>
    <p>
     ABOUT C.E.O/FOUNDER Ascent capital management Based On True Facts- Michel Andros His story began at Akaroa,
                            where the journey all started. After graduating, he packed his bags for Switzerland and built two
                            finance companies, selling his own trading software to hedge funds. There, he discovered that big
                            Wall Street firms were paying next-to-nothing to trade stocks, while most Americans were charged
                            commission for every single trade. He wanted to change that, so he headed back to Wellington to
                            build a financial investment platform that would give everyone—not just the wealthy—access to
                            financial markets. Besides being the co-founder of Ascent capital management, Michel Andros is also the
                            former General Manager for Trafigura Switzerland, and led the business for almost six years from
                            launch.. MAIL C.E.O.
    </p>
    <div class="row">
     <div class="section_content teamy-team">
      <div class="col-md-3">
       <div class="teamy teamy_style1 teamy_mask-circle">
        <div class="teamy_layout">
         <div class="teamy_preview">
          <img alt="The demo photo" class="teamy_avatar" src="{% static 'images/t1.jpg' %}"/>
         </div>
         <div class="teamy_back">
          <div class="teamy_back-inner">
          </div>
         </div>
        </div>
        <div class="teamy_content">
         <h3 class="teamy_name">
          Michel Andros
         </h3>
         <span class="teamy_post">
          CEO/Founder
         </span>
        </div>
       </div>
      </div>
      <div class="col-md-3">
       <div class="teamy teamy_style1 teamy_mask-circle">
        <div class="teamy_layout">
         <div class="teamy_preview">
          <img alt="The demo photo" class="teamy_avatar" src="{% static 'images/t5.jpg' %}"/>
         </div>
         <div class="teamy_back">
          <div class="teamy_back-inner">
          </div>
         </div>
        </div>
        <div class="teamy_content">
         <h3 class="teamy_name">
          Elizabeth Taylor
         </h3>
         <span class="teamy_post">
          Company Director
         </span>
        </div>
       </div>
      </div>
      <div class="col-md-3">
       <div class="teamy teamy_style1 teamy_mask-circle">
        <div class="teamy_layout">
         <div class="teamy_preview">
          <img alt="The demo photo" class="teamy_avatar" src="{% static 'images/t3.jpg' %}"/>
         </div>
         <div class="teamy_back">
          <div class="teamy_back-inner">
          </div>
         </div>
        </div>
        <div class="teamy_content">
         <h3 class="teamy_name">
          Richard Smith
         </h3>
         <span class="teamy_post">
          Chief Trader
         </span>
        </div>
       </div>
      </div>
      <div class="col-md-3">
       <div class="teamy teamy_style1 teamy_mask-circle">
        <div class="teamy_layout">
         <div class="teamy_preview">
          <img alt="The demo photo" class="teamy_avatar" src="{% static 'images/t4.jpg' %}"/>
         </div>
         <div class="teamy_back">
          <div class="teamy_back-inner">
          </div>
         </div>
        </div>
        <div class="teamy_content">
         <h3 class="teamy_name">
          Amelia Jones
         </h3>
         <span class="teamy_post">
          Marketing Manager
         </span>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
 </center>
 <section class="section section-m section-partners bg-light">
  <div class="container">
   <div class="nk-block block-partners">
    <h6 class="title title-xs tc-primary text-center animated" data-animate="fadeInUp" data-delay=".1">
     Our Partners
    </h6>
    <ul class="partner-list flex-lg-nowrap">
     <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".2">
      <img alt="partner" src="{% static 'images/partners/comodo.svg' %}"/>
     </li>
     <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".3">
      <img alt="partner" src="{% static 'images/partners/mcafee.svg' %}"/>
     </li>
     <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".4">
      <img alt="partner" src="{% static 'images/partners/sitelock.svg' %}"/>
     </li>
     <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".5">
      <img alt="partner" src="{% static 'images/partners/geotrust.svg' %}"/>
     </li>
     <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".6">
      <img alt="partner" src="{% static 'images/partners/symantec.svg' %}"/>
     </li>
     <li class="partner-logo animated" data-animate="fadeInUp" data-delay=".7">
      <img alt="partner" src="{% static 'images/partners/radware.svg' %}"/>
     </li>
    </ul>
    <center>
     <h1>
      Our partners
     </h1>
     <p>
      <b>
       TESLA
      </b>
     </p>
     <p>
      <b>
       SPACE X
      </b>
     </p>
     <p>
      <b>
       BLOCKCHAIN
      </b>
     </p>
     <p>
      <b>
       NVIDIA GFOX
      </b>
     </p>
     <p>
      <b>
       FORD
      </b>
     </p>
     <p>
      <b>
       COINBASE
      </b>
     </p>
    </center>
   </div>
  </div>
  <center>
   <section class="section">
    <div class="container">
     <div class="section_header">
      <h2 class="title section_title">
       COIN WE ACCEPT ARE:
       <span>
        .
       </span>
      </h2>
      <div class="row">
       <div class="section_content teamy-team">
        <div class="col-md-3">
         <div class="teamy teamy_style1 teamy_mask-circle">
          <div class="teamy_layout">
           <div class="teamy_preview">
            <img alt="The demo photo" class="teamy_avatar" height="200" src="{% static 'images/btc.jpg' %}" width="150"/>
           </div>
           <div class="teamy_back">
            <div class="teamy_back-inner">
            </div>
           </div>
          </div>
          <div class="teamy_content">
           <h3 class="teamy_name">
            BITCOIN
           </h3>
          </div>
         </div>
         <div class="col-md-3">
          <div class="teamy teamy_style1 teamy_mask-circle">
           <div class="teamy_layout">
            <div class="teamy_preview">
             <img alt="The demo photo" class="teamy_avatar" height="200" src="{% static 'images/eth.jpg' %}" width="150"/>
            </div>
            <div class="teamy_back">
             <div class="teamy_back-inner">
             </div>
            </div>
           </div>
           <div class="teamy_content">
            <h3 class="teamy_name">
             ETHEREUM
            </h3>
           </div>
          </div>
          <div class="col-md-3">
           <div class="teamy teamy_style1 teamy_mask-circle">
            <div class="teamy_layout">
             <div class="teamy_preview">
              <img alt="The demo photo" class="teamy_avatar" height="200" src="{% static 'images/btccash.jpg' %}" width="150"/>
             </div>
             <div class="teamy_back">
              <div class="teamy_back-inner">
              </div>
             </div>
            </div>
            <div class="teamy_content">
             <h3 class="teamy_name">
              BITCOIN CASH
             </h3>
            </div>
           </div>
           <div class="col-md-3">
            <div class="teamy teamy_style1 teamy_mask-circle">
             <div class="teamy_layout">
              <div class="teamy_preview">
               <img alt="The demo photo" class="teamy_avatar" height="200" src="{% static 'images/ltc.jpg' %}" width="150"/>
              </div>
              <div class="teamy_back">
               <div class="teamy_back-inner">
               </div>
              </div>
             </div>
             <div class="teamy_content">
              <h3 class="teamy_name">
               LITECOIN
              </h3>
             </div>
            </div>
            <div class="col-md-3">
             <div class="teamy teamy_style1 teamy_mask-circle">
              <div class="teamy_layout">
               <div class="teamy_preview">
                <img alt="The demo photo" class="teamy_avatar" src="{% static 'images/usdt.jpg' %}"/>
               </div>
               <div class="teamy_back">
                <div class="teamy_back-inner">
                </div>
               </div>
              </div>
              <div class="teamy_content">
               <h3 class="teamy_name">
                USDT
               </h3>
              </div>
             </div>
             <div class="col-md-3">
              <div class="teamy teamy_style1 teamy_mask-circle">
               <div class="teamy_layout">
                <div class="teamy_preview">
                 <img alt="The demo photo" class="teamy_avatar" height="200" src="{% static 'images/pm.jpg' %}" width="150"/>
                </div>
                <div class="teamy_back">
                 <div class="teamy_back-inner">
                 </div>
                </div>
               </div>
               <div class="teamy_content">
                <h3 class="teamy_name">
                 PERFECT MONEY
                </h3>
               </div>
              </div>
              <div class="col-md-3">
               <div class="teamy teamy_style1 teamy_mask-circle">
                <div class="teamy_layout">
                 <div class="teamy_preview">
                  <img alt="The demo photo" class="teamy_avatar" src="{% static 'images/payeer.jpg' %}"/>
                 </div>
                 <div class="teamy_back">
                  <div class="teamy_back-inner">
                  </div>
                 </div>
                </div>
                <div class="teamy_content">
                 <h3 class="teamy_name">
                  PAYEER
                 </h3>
                </div>
               </div>
               <div class="col-md-3">
                <div class="teamy teamy_style1 teamy_mask-circle">
                 <div class="teamy_layout">
                  <div class="teamy_preview">
                   <img alt="The demo photo" class="teamy_avatar" src="{% static 'images/bnb.jpg' %}"/>
                  </div>
                  <div class="teamy_back">
                   <div class="teamy_back-inner">
                   </div>
                  </div>
                 </div>
                 <div class="teamy_content">
                  <h3 class="teamy_name">
                   BNB
                  </h3>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
  </center>
 </section>
</main>
{% endblock content %}